@{
    ViewData["Title"] = "Index";
}
@model List<ProductViewModel>

@if (TempData["status"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["status"]
    </div>
}

<h1>Ürünler</h1>
<a asp-action="Add" asp-controller="Products">Ürün Ekle</a>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Resim</th>
            <th>Kategori</th>
            <th>İsim</th>
            <th>Fiyat</th>
            <th>Renk</th>
            <th>Açıklama</th>
            <th>Stok</th>
            <th>Yayınlansın mı?</th>
            <th>Yayın Süresi</th>
            <th></th>
            <th></th>
            <th></th>

        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr class="align-middle">
                <td>@item.Id</td>
                <td>
                    @if (!String.IsNullOrEmpty(item.ImagePath))
                    {
                        <img style="width: 100px;height: 100px" src="/images/@(item.ImagePath)" />
                    }
                    else
                    {
                        <img style="width: 100px;height: 100px" src="/images/noimage.jpg)" />
                    }
                </td>
                <td>@item.CategoryName</td>
                <td>@item.Name</td>
                <td>@item.Price</td>
                <td>@item.Color</td>
                <td>
                    <text>@item.Description...</text>
                </td>
                <td>@item.Stock</td>
                <td>
                    @if (@item.IsPublished)
                    {
                        <text>Evet</text>
                    }
                    else
                    {
                        <text>Hayır</text>
                    }
                </td>
                <td>@item.Expire</td>
                <td><a asp-action="Remove" asp-controller="Products" asp-route-id="@item.Id">Sil</a></td>
                <td><a asp-action="Update" asp-controller="Products" asp-route-id="@item.Id">Güncelle</a></td>
                <td><a asp-route="product" asp-route-id="@item.Id">Detay</a></td>
            </tr>
        }


    </tbody>
</table>
<td><a asp-route="productPage" asp-route-page="1" asp-route-pageSize="3">İlk 3 Ürün Ver</a></td>
<td><a asp-route="productPage" asp-route-page="2" asp-route-pageSize="3">Son 3 Ürün Ver</a></td>
<td><a asp-action="Article" asp-controller="Blog" asp-route-name="makale-ismi" asp-route-id="2">Makaleye Git</a></td>

