@{
    ViewData["Title"] = "Home Page";

    var product = new Product() { Id = 1, Name = "Kalem1", Price = 21, Color = "Blue", Description = "Deneme" };
    //var alert = "Bu bir uyarı mesajıdır";
}

@*@section Scripts
{
    <script type="text/javascript">
    //alert("Sayfamıza Hoşgeldiniz.")
        $(document).ready(function(){
            console.log("Sayfamıza hoşgeldin.");
        })
    </script>
}*@

@*@section Css
{
    <style>
        h1 {
            color: red;
            background-color: aqua;

        }
    </style>
    <link rel="stylesheet" href="css/example.css" asp-append-version="true"/>
}

    <h1 class="display-4">Welcome</h1>
    <h2 class="display-4">Welcome</h2>*@

@*<partial name="_MenuPartialView"/>
@await Html.PartialAsync("_MenuPartialView")
@Html.Partial("_MenuPartialView")*@


@*<div>@DateTime.Now.ToShortDateString()</div>
@{
    var dateTime = DateTime.Now.ToShortDateString();
    var message = "Merhaba";

    @: Bugünün Tarihi: @dateTime
    <text>Bugünün Tarihi: @dateTime</text>

    <div>@message</div>
}

@if (1==1)
{
    <p>Doğru</p>
}
else if (DateTime.IsLeapYear(DateTime.Now.Year))
{
    <p>Artık yıl</p>
}
else
{
    <p>@alert</p>
    <p>Yanlış</p>
}

@for (int i = 0; i < 11; i++)
{
    <p>i</p>
}*@

<div class="row">
    <div class="col-md-4">
        <partial name="~/PartialViews/_ProductListartialView.cshtml" model="@ViewBag.productListPartialViewModel" />
    </div>

    <div class="col-md-4">
        @* 1.Yol*@
        @*  @await Component.InvokeAsync("ProductList",new {type=1})*@

        @* 2. Yol*@
        <vc:product-list type="1"></vc:product-list>
    </div>
    <div class="col-md-4">
        <italic>Asp .Net Core</italic>
        <product-show product="@product"></product-show>
        
        <img src="images/car.jpg"/>
        <thumbnail image-src="images/car.jpg"></thumbnail>
    </div>

</div>





